{% extends "base.html"%}

{% block title %}
    register
{% endblock %}

 {% block body %}
     <h1>Register page</h1>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div>
            {{ form.username.label }}
            {{ form.username(size=32) }}
        </div>

        <div>
            {{ form.password.label }}
            {{ form.password(size=32) }}
        </div>
        <div>
            {{ form.submit() }}
        </div>
      </form>

{% endblock %}