{% extends "mainpage.html"%}

{% block title %}
    search results
{% endblock %}


 {% block search_results %}
     {% for result in results %}
    <a href="/setid/{{ result.id }}" style='font-size:40px ; font-weight:100; font-family: Geneva, Arial, Helvetica, sans-serif; text-decoration: none'>
        <div class="col-sm-6 col-lg-4 mb-4 " style="position: absolute; left: 50%; top: 10px;" >
          <div class="card">
            <img src={{ result.image_link }} alt="set_image">
            <div class="card-body" >
               <h4 class="card-title"> {{ result.name }}</h4>
                <h5>{{ result.parts_volume }}</h5>
              <p class="card-text" ></p>
                <form action="/add_set_to_user/{{result.id}}" method="post">
                    <button name="add_me" type="submit" onclick="service.add_set_to_user(self, {{result.id}})"> добавь меня </button>
                </form>
            </div>
          </div>
        </div>
    </a>
     {% endfor %}
    <a href="/" class="d-flex align-items-center p-3 link-body-emphasis text-decoration-none border-bottom class1" style="position: relative">
      <svg width="30" height="24"></svg>
      <span class="fs-5 fw-semibold">главная страница</span>
    </a>
    <div class="list-group list-group-flush border-bottom scrollarea class1 align-items-right">
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">набор</strong>
            </div>
          </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">набор</strong>
            </div>
          </a>
    </div>

    <div class="list-group list-group-flush border-bottom scrollarea class1 align-items-right">
        {% for result in res %}
          <a href="#" class="list-group-item list-group-item-action py-3 lh-sm">
            <div class="d-flex w-100 align-items-center justify-content-between">
              <strong class="mb-1">{{result.name}}</strong>
            </div>
          </a>
        {% endfor %}
    </div>

{% endblock %}