
{% extends "base.html" %} 
 
{% block title %} 
{{ setinfo.name }} <!-- Set the title dynamically based on the set name --> 
{% endblock %} 
 
{% block body %} 
<div class="container mt-5"> 
    <div class="row justify-content-center"> 
        <div class="col-sm-6 col-lg-4 mb-4"> 
            <div class="card shadow"> 
                <img src="{{ setinfo.image_link }}" class="card-img-top" alt="set_image"> 
                <div class="card-body"> 
                    <h4 class="card-title">{{ setinfo.name }}</h4> 
                    <h5 class="card-subtitle mb-2 text-muted">Volume: {{ setinfo.parts_volume }}</h5> 
                    <p class="card-text">Released: {{ setinfo.released }}</p> 
                    <p class="card-text">Theme: {{ setinfo.theme }}</p> 
                    <p class="card-text">ID: {{ setinfo.id }}</p> 
                    <a href="{{ setinfo.instruction_link }}" class="btn btn-link">Смотреть инструкцию здесь</a> 
                </div> 
            </div> 
        </div> 
    </div> 
</div> 
{% endblock %}
